<div class="row">
    <div class="small-3 columns">
        <label for="right-label" class="right inline">{{ translate(element.getLabel()) }}</label>
    </div>
    <div class="small-9 columns {{ not element.isValid() ? 'error' : '' }} ?>">
        {{ form().formElement(element)|raw }}

        {% if (not element.isValid()) %}
            <small class="error">{{ translate("Invalid element value") }}</small>
        {% endif %}
    </div>
</div>